name: Frontend CI/CD

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: [self-hosted, local-docker]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build frontend Docker image
        run: docker build -t frontend:latest .

      - name: Deploy frontend with docker-compose
        run: |
          cd /home/abdelrahman-alzyoud/Desktop/ZYOUD/DevOps/OPTIMUM---DevOps-TASKS/CI.CD/
          docker compose up -d --build frontend

